<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Location</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style/game.css">
</head>

<body>
    <div id="gameView">
        
        <table>
            <tr v-for="letter,i in letters">
                <td v-for = "number,j in numbers" v-bind:id="letter+number">
                    <span v-if="j==0 || i==0">{{letter+number}}</span>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="script/game.js"></script>
</body>

</html>