td{
border: 1px solid red;
height: 40px;
width: auto;
width: 50px;
}

#table {
    width: 500px;
}

.shipLoc {
    background-color: red;
}

.salvoLoc{
    background-color: green;
}

.salvoHit{
    width: 50px;
    height: 40px;
}

.thaGrids{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}