body {
    font-family:'Acme', sans-serif;
}

#top-image {
    background: url('../images/game_background.jpg') -25px -50px;
    /* position: fixed; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    background-size: calc(100% + 50px);
}



.pageTitle {
    display: flex;
    justify-content: center;
    text-align: center;
}

.playerDetails {
    display: flex;
    justify-content: center;
    text-align: center;
}

#table {
    width: 500px;
}

.shipLoc {
    background-color: red;
}

.salvoLoc {
    background-color: green;
}

.salvoHit,
.salvoMiss {
    width: 50px;
    height: 40px;
}

.thaGrids {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 100px;
}

.shipGrid,
.salvoGrid {
    background-color: rgba(65, 135, 201, 0.7);
}

.shipGrid td,
.salvoGrid td {
    border: wheat;
    color: wheat;
    text-align: center;
}

td {
    height: 50px;
    width: 50px;
}

.ships {
    background-color: red;
}

.carrier{
    background-image: url('../images/carrier.png');
    background-size: contain;
    width: 100px;
    height: 100px;
}

.battleship{
    background-image: url('../images/battleship.png');
    background-size: contain;
    width: 100px;
    height: 100px;
}

.submarine{
    background-image: url('../images/submarine.png');
    background-size: contain;
    width: 100px;
    height: 100px;
}

.destroyer{
    background-image: url('../images/destroyer.png');
    background-size: contain;
    width: 100px;
    height: 100px;
}

.patrolBoat{
    background-image: url('../images/patroler.png');
    background-size: contain;
    width: 100px;
    height: 100px;
}

.dragShips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    margin-right: 5%;
    background-color: rgba(65, 135, 201, 0.7);
    
}

.s1, .s2, .s3, .s4, .s5{
    background-image: url('../images/salvo.png');
    background-size: contain;
    width: 50px;
    height: 50px;
}

.dragSalvos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    margin-left: 5%;
    background-color: rgba(65, 135, 201, 0.7);
}


