body {
    background-image: url("../images/backgroundThemeJap.jpg");
    background-attachment: fixed;
    font-family:'Acme', sans-serif;
}

table {
    text-align: center;
    border-radius: 10px;
}

td {
    padding: 10px;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.title h1 {
    margin-top: 30px;
}

.table1Btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.table1Btn button{
    margin-right: 10px;
}

.table1Btn h3{
    margin-left: 150px;
}

.btn {
    background-color: #355d81;
    border-color: #355d81;
}

table {
    width: 500px;
}

.firstTable table {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.secondTable table {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstTable,
.secondTable th {
    text-align: center;
}



.firstTable,
.secondTable {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    color: whitesmoke;
}

.title.text-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logout button {
    margin-top: 30px;
}

.logout{
    margin-right: 250px;
}

.backgroundTable1,
.backgroundTable2 {
    padding: 10px;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.table2Title{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.tables{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px; 
}

.title {
    display: flex;
    flex-direction: row;
    
}

.gameTitle{
    flex-grow: 1;
    text-align: center;
}