  body {
  	font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .container {
  	display: flex;
  }

  .forms {
  	display: flex;
  	flex-direction: row;
  	position: fixed;
  	background-color: rgba(0, 0, 0, 0.51);
  	padding: 80px;
  	width: 600px;
  	height: 600px;
  	/*	margin-left: 700px;
	margin-top: 300px; */
  	border-radius: 10px;
  	justify-content: space-around;
  }

  .logIn,
  .signUp {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;

  }

  .btnbg {
  	position: absolute;
  	z-index: 9990;
  }

  input.sumbit {
  	z-index: 9990;
  }

  #myVideo {
  	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
  	animation: infinite;
  }

  #myBtn {
  	width: 200px;
  	font-size: 18px;
  	padding: 10px;
  	border: none;
  	background: #000;
  	color: #fff;
  	cursor: pointer;
  }

  #myBtn:hover {
  	background: #ddd;
  	color: black;
  }

  .simform__actions .sumbit {
  	background-color: #2e4a66;
  	border-radius: 5px;
  }

  .logmod__wrapper {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }